<html>
    <head>
        <link rel="stylesheet" type="text/css" href= {{ url_for("static", filename="styles/css/refreshpage.css") }} >
    </head>
    <body>
        <form method="POST">
            <label>
                Create a new role (format: name | description):
            </label><br>
            <textarea id="role_input" name="role_input" rows="2" cols="50"></textarea><br>
            <button 
                type="submit" 
                name="button_text" 
                value="create">Create Role
            </button><br><br>

            <label>
                Enter some text:
            </label><br>

            <textarea id="text_input" name="text_input" rows="5" cols="50"></textarea><br>

            <label>
                Select an option:
            </label><br>

            <p>Role: </p>

            <select id="dropdown" name="role" value="{{ dropdown_input }}">
                {{ dropdown_options_markup }}
            </select>
            
            <input type="hidden" id="history" name="history" value="{{ chat_history }}"><br><br>
        
            
            <button type="submit" name="button_text" value="submit">Submit</button>
            <button type="submit" name="button_text" value="clear">Clear Chat history</button>

        </form>
        <br>
        <div>
            {{chat_history_markup}}
        </div>
    </body>
</html>