<html
    style = "background-color: #000000;"
>
    <form 
        method="POST"
        style = "text-color: white;"
    >
        <label
            style = "color: white;"
        >
            Create a new role (format: name | description):
        </label><br>
        <textarea id="role_input" name="role_input" rows="2" cols="50"></textarea><br>
        <button 
            type="submit" 
            name="button_text" 
            value="create">Create Role
        </button><br><br>

        <label
            style = "color: white;"
        >
            Enter some text:
        </label><br>

        <textarea id="text_input" name="text_input" rows="5" cols="50"></textarea><br>

        <label
            style = "color: white;"
        >
            Select an option:
        </label><br>

        <p style = "color: white; display: inline;">Role: </p>

        <select id="dropdown" name="role" value={{dropdown_input}}>
            {{dropdown_options}}
        </select>

        <p style = "color: white; display: inline;">Explicit language: </p><select id="dropdown" name="explicit">
            <option value="no" {"selected" if 'no' == request.form.get("explicit") else "" }>no</option>
            <option value="yes" {"selected" if 'yes' == request.form.get("explicit") else "" }>yes</option>
        </select><input type="hidden" id="history" name="history" value="{{chat_history}}"><br><br>
        <button type="submit" name="button_text" value="submit">Submit</button>
        <button type="submit" name="button_text" value="clear">Clear Chat history</button>

    </form>
    <br>
    <div
        style = 
            "color: #20C20E;"
    >
        {{chat_history_html_formatted}}
    </div>
</html>